.banner {
    background-color: #0092ab; 
    height: 70px;
    width: 100%; 
    margin-bottom: 20px;
}

.SEBlogo {
 background-position: absolute;
 position: absolute;
 right: 100px;
}

.GreenBG{
    background-image: url(../assets/purple_background.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }