.banner {
    background-color: #0092ab; 
    height: 70px;
    width: 100%; 
    margin-bottom: 20px;
}

.SEBlogo {
 background-position: absolute;
 position: absolute;
 right: 100px;
}

.background{
    background-image: url('../assets/purple_background.png'); 
    top: 0px;
    left: 0px;
    z-index:0;
    position: fixed;
    width: 100%;
    height: 100%;
    Background-repeat: no-repeat;
       -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    }

.hidden-shit {
 visibility: hidden;
}

html {
 font-size: 18px;
 font-family: SEB, sans-serif;
}